body {
    text-align: center;
    margin: 20px;
    background: -webkit-linear-gradient(to right, #360033, #0b8793); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #360033, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

img {
  width: 700px;
  height: 450px;
}

.btn-primary:hover{
  background-color: #4785e2;
}
.btn-warning:hover {
  background-color: #f1d06b;
;
}

.btn-warning:focus {
  box-shadow: 0 0 0 0 rgb(217 164 6 / 50%);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0 rgb(217 164 6 / 50%);
}

a {
  text-decoration: none;
  margin: 50px;
}